body, html{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

p{
	margin: 0;
}


.fixed-container{
	max-width: 1000px;
	min-width: 320px;
	padding:0 20px;
	margin: 0 auto;
	position: relative;
}

.header{
	height: 700px;
	background-color: #FBFBFB;
	padding-top: 40px;
}

.header-line{
	display: flex;
	align-items: center;

}

.nav{
	font-size: 14px;
	display: flex;
	align-items: center;
}

.nav-mobile{
	display: none;
}

.no-style a{
	color: #1F1F24;
	text-decoration: none;
	margin-right: 35px;
}

.with-style a{
	color: #FC6589;
	margin-right: 35px;
}

.tel a{ 
	color: #1F1F24;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	margin-left: 250px;
	margin-right: 40px;
}

.telegram button{
	background-color: #FBFBFB;
	border: 1px solid #FC6589;
	color: #FC6589;
	padding: 15px 35px;
	font-size: 14px;

}

.telegram a{
	text-decoration: none;	
}

.telegram a:visited{
	color: #FC6589;
}

.txt-information{
	width: 500px;
	float: left;
}
	.name{
		font-size: 64px;
		font-weight: 600;
		padding-top: 200px;
		padding-bottom: 25px;
	}

	.job-name{
		color: #8B95AE;
		font-size: 18px;
		padding-bottom: 50px;
	}
	.job-name-mob{
		display: none;
	}
	.more-information button{
		background-color: #FF4E2E;
		color: white;
		padding: 21px 70px;
		border: none;
		font-size: 14px;

	}
	.more-information a:visited, .about-me a:visited{
	color: white;
	}
	.more-information a, .about-me a{
		text-decoration: none;
	}

.img-information{
	width: 500px;
	float: left;
}
	.my-image {
		position: relative;
		z-index: 2;
		left: 50px;
		top: 70px;

	}	
	.bg-img{
		position: absolute;
		top: 79px;
		right: -240px;
		z-index: 1;
		padding-bottom: 100px;

	}
	.bg-img img{
		width: 800px;
	}

.skills{
	margin-top: 100px;
	margin-bottom: 100px;
}
.skills-information-tablet{
	display: none;
}

.skills-title, .my-portfolio-title{
	font-size: 36px;
	font-weight: 600;
	text-align: center;	
	margin-bottom: 100px;
}

.skills-information{
	color: #8993ad;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.inf1-skill, .inf2-skill, .inf3-skill, .inf4-skill{
	text-align: center;
}

.img1-skill img, .img2-skill img, .img3-skill img, .img4-skill img{
	height: 70px;
	padding-bottom: 30px;
}

.img1-skill, .inf1-skill,.img2-skill,.img3-skill,.img4-skill,.inf2-skill,.inf3-skill,.inf4-skill{
	display: flex;
	justify-content: center;
}

.first-skill, .second-skill, .third-skill {
	margin-right: 90px;
	text-align: center;
}

.fourth-skill{
	text-align: center;
}

.my-portfolio{
	background-color: #FBFBFB;
	padding-bottom: 100px;
}

.my-portfolio-title{
	padding-top: 100px;
}

.btn-about button{
	background-color: #FF4E2E;
	color: white;
	padding: 21px 70px;
	border: none;
	font-size: 14px;
}

.btn-about{
	text-align: center;
}

.portfolio-slider{
	text-align: center;	
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	font-size: 18px;
	color: #8993AD;
}

.portfolio-1-img, .portfolio-2-img,.portfolio-3-img{
	padding-bottom: 40px;
}

.about-me-info{
	background: linear-gradient(to right top,#FF8F5A,#FF2F96);
	color: white;
	padding-top: 90px;
	padding-bottom: 90px;
}

.about-me-title{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 40px;
}

.about-me-text{
	font-size: 18px;
}

.footer{
	padding-top: 80px;
	height: 160px;
}

.footer a{
	color: #97A0B7;
	text-decoration: none;
}

.left-footer{
	float: left;
	margin-right: 280px;
	padding-bottom: 80px;
}

.center-footer{
	float: left;
}

.right-footer{
	float: right;
}

.nav-footer1,.nav-footer2{
	padding-bottom: 15px;
}

.tel-footer, .email-footer{
	display: flex;
	text-align: center;
}

.tel-footer{
	padding-bottom: 30px;
}

.img-tel-footer, .img-email-footer{
	padding-right: 12px;
}

.button-footer button{
	background-color: #FBFBFB;
	border: 1px solid #FC6589;
	color: #FC6589;
	padding: 15px 35px;
	font-size: 14px;
}

.icons-footer{
	display: flex;
	padding-top: 31px;
}

.facebook-icon{
	padding-right: 32px;
}

.by{
	background-color: #31293C;
	padding-top: 30px;
	padding-bottom: 30px;
}

.by-info{
	color: whitesmoke;
	font-size: 14px;
	text-align: center;
}



@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
		
	.fixed-container{
		max-width: 720px;
		padding: 0 20px;
		margin: 0 auto;
		position: relative;
	}
		.nav{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
	.header{
		flex-direction: column;
		height: 311px;
	}
	.telegram button{
		padding: 7px 26px;
	}
	.tel a{
		margin-left: 180px;
	}
	.bg-img img{
		width: 300px;
	}
	.my-image{
		position: relative;
	    z-index: 2;
	    left: 505px;
	    top: 11px;
	}
	.bg-img {
	    position: absolute;
	    top: 79px;
	    right: -30px;
	    z-index: 1;
   }
	.my-image img{
		width: 200px;	
	}
	.img-information{
		width: 200px;
	}
	.name{
		font-size: 24px;
		padding-bottom: 23px;
		padding-top: 30px;
	}
	.job-name{
		font-size: 12px;
		padding-bottom: 33px;
		display: block;
		color: #8B95AE;
	}
	.more-information button{
		padding: 21px 43px;
	}
	.txt-information{
		width: auto;
		padding: 40px;
		position: absolute;
		top: 40px;
	}
	.skills{
		margin-top: 70px;
	}
	.skills-title{
		font-size: 24px;
		margin-bottom: 70px;
	}
	.skills-information-tablet{
		display: block;
	}
	.skills-information{
		display: none;
	}
	.two1-tablet{
		width: 720px;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
	}
	.two2-tablet{
		width: 720px;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
	}
	.first-skill{
		width: 350px;
	}
	.second-skill, .third-skill,.fourth-skill{
		width: 350px;
	}
	 .first-skill, .second-skill, .third-skill {
	    margin-right: 0px;
	    margin-bottom: 55px;
	}
	.img1-skill img, .img2-skill img, .img3-skill img, .img4-skill img {
	    height: 60px;
	    padding-bottom: 21px;
	}
	.portfolio-slider{
		justify-content: space-around;
		font-size: 14px;
	}
	.my-portfolio-title {
	    padding-top: 25px;
	    font-size: 24px;
	    margin-bottom: 50px;
	}
	.portfolio-3{
		display: none;
	}
	.portfolio-1 img,.portfolio-2 img{
		width: 220px;
	}
	.portfolio-1-img,.portfolio-2-img{
		padding-bottom: 20px;
	}
	.portfolio-slider{
		margin-bottom: 50px;
	}
	.my-portfolio{
		padding-bottom: 50px;
	}
	.left-footer{
		margin-right: 86px;
		font-size: 14px;
	}
	.center-footer{
		font-size: 14px;
	}
	.right-footer{
		font-size: 14px;
	}
	.button-footer button{
	padding: 15px 23px;
	}
	.icons-footer {
    display: flex;
    padding-top: 11px;
	}
}

@media screen and (max-width: 991px) {
	.fixed-container{
		max-width: 720px;
		padding: 0 20px;
		margin: 0 auto;
		position: relative;
	}
	.nav{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
	.header{
		flex-direction: column;
		height: 311px;
	}
	.telegram button{
		padding: 7px 26px;
	}
	.tel a{
		margin-left: 180px;
	}
	.bg-img img{
		width: 300px;
	}
	.my-image{
		position: relative;
	    z-index: 2;
	    left: 505px;
	    top: 11px;
	}
	.bg-img {
	    position: absolute;
	    top: 79px;
	    right: -30px;
	    z-index: 1;
   }
	.my-image img{
		width: 200px;
	}
	.img-information{
		width: 200px;
	}
	.name{
		font-size: 24px;
		padding-bottom: 23px;
		padding-top: 30px;
	}
	.job-name{
		font-size: 12px;
		padding-bottom: 33px;
		display: block;
		color: #8B95AE;
	}
	.more-information button{
		padding: 21px 43px;

	}
	.txt-information{
		width: auto;
		padding: 40px;
		position: absolute;
		top: 40px;
	}
	.skills{
		margin-top: 70px;
	}
	.skills-title{
		font-size: 24px;
		margin-bottom: 70px;
	}
	.skills-information-tablet{
		display: block;
	}
	.skills-information{
		display: none;
	}
	.two1-tablet{
		width: 720px;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
	}
	.two2-tablet{
		width: 720px;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
	}
	.first-skill{
		width: 350px;
	}
	.second-skill, .third-skill,.fourth-skill{
		width: 350px;
	}
	 .first-skill, .second-skill, .third-skill {
	    margin-right: 0px;
	    margin-bottom: 55px;
	}
	.img1-skill img, .img2-skill img, .img3-skill img, .img4-skill img {
	    height: 60px;
	    padding-bottom: 21px;
	}
	.portfolio-slider{
		justify-content: space-around;
		font-size: 14px;
	}
	.my-portfolio-title {
	    padding-top: 25px;
	    font-size: 24px;
	    margin-bottom: 50px;
	}
	.portfolio-3{
		display: none;
	}
	.portfolio-1 img,.portfolio-2 img{
		width: 220px;
	}
	.portfolio-1-img,.portfolio-2-img{
		padding-bottom: 20px;
	}
	.portfolio-slider{
		margin-bottom: 50px;
	}
	.my-portfolio{
		padding-bottom: 50px;
	}
	.left-footer{
		margin-right: 86px;
		font-size: 14px;
	}
	.center-footer{
		font-size: 14px;
	}
	.right-footer{
		font-size: 14px;
	}
	.button-footer button{
		padding: 15px 23px;
	}
	.icons-footer {
	    display: flex;
	    padding-top: 11px;
	}
}

@media screen and (max-width: 767px) {
	.fixed-container{
		max-width: 576px;
		padding: 0 20px;
		margin: 0 auto;
		position: relative;
	}
	.nav{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
	.header{
		flex-direction: column;
		height: 311px;
	}
	.telegram button{
		padding: 7px 26px;
	}
	.tel a{
		margin-left: 180px;
	}
	.bg-img img{
		width: 300px;
	}
	.my-image{
		position: relative;
	    z-index: 2;
	    left: 358px;
	    top: 11px;
	}
	.bg-img {
	    position: absolute;
	    top: 79px;
	    right: -30px;
	    z-index: 1;
   }
	.my-image img{
		width: 200px;
	}
	
	.img-information{
		width: 200px;
	}
	.name{
		font-size: 24px;
		padding-bottom: 23px;
		padding-top: 30px;
	}
	.job-name{
		font-size: 12px;
		padding-bottom: 33px;
		display: block;
		color: #8B95AE;
	}
	.more-information button{
		padding: 21px 43px;
	}
	
	.txt-information{
		width: auto;
		padding: 40px;
		position: absolute;
		top: 40px;
	}
	.skills{
		margin-top: 70px;
	}
	.skills-title{
		font-size: 24px;
		margin-bottom: 70px;
	}
	.skills-information-tablet{
		display: block;
	}
	.skills-information{
		display: none;
	}
	.two1-tablet{
		width: 576px;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
	}
	.two2-tablet{
		width: 576px;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
	}
	.first-skill{
		width: 276px;
	}
	.second-skill, .third-skill,.fourth-skill{
		width: 276px;
	}
	 .first-skill, .second-skill, .third-skill {
	    margin-right: 0px;
	    margin-bottom: 55px;
	}
	.img1-skill img, .img2-skill img, .img3-skill img, .img4-skill img {
	    height: 60px;
	    padding-bottom: 21px;
	}
	.portfolio-slider{
		justify-content: space-around;
		font-size: 14px;
	}
	.my-portfolio-title {
	    padding-top: 25px;
	    font-size: 24px;
	    margin-bottom: 50px;
	}
	.portfolio-3{
		display: none;
	}
	.portfolio-1 img,.portfolio-2 img{
		width: 220px;
	}
	.portfolio-1-img,.portfolio-2-img{
		padding-bottom: 20px;
	}
	.portfolio-slider{
		margin-bottom: 50px;
	}
	.my-portfolio{
		padding-bottom: 50px;
	}
	.left-footer{
		margin-right: 20px;
		font-size: 14px;
	}
	.center-footer{
		font-size: 14px;
	}
	.right-footer{
		font-size: 14px;

	}
	.button-footer button{
		padding: 15px 23px;
	}
	.icons-footer {
	    display: flex;
	    padding-top: 11px;
	}
}


@media screen and (max-width: 575px) {
	.fixed-container{
		max-width: 320px;
		padding: 0 20px;
		margin: 0 auto;
		position: relative;
	}
	.nav, .telegram button{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
	.header{
		flex-direction: column;
		height: 600px;
	}
	.tel a{
		margin-left: 35px;
		margin-right: 0px;
	}
	.bg-img img{
		width: 300px;
	}
	.bg-img{
		top: 120px;
		right: 6px;
		position: absolute;
		display: flex;
		align-items: center;
	}
	.my-image img{
		width: 200px;
	}
	.my-image{
		position: absolute;
		top: 84px;
		left: 85px;
	}
	.img-information{
		width: 200px;
	}
	.name{
		font-size: 30px;
		padding-bottom: 13px;
		padding-top: 30px;
	}
	.job-name-mob{
		font-size: 12px;
		padding-bottom: 33px;
		display: block;
		color: #8B95AE;
	}
	.job-name{
		display: none;
	}
	.txt-information{
		width: auto;
		text-align: center;
		padding: 40px;
		position: absolute;
		top: 300px;
	}
	.skills-title{
		font-size: 30px;
	}
	.two1-tablet, .two2-tablet{
		width: 320px;
	}
	.img1-skill img, .img2-skill img, .img3-skill img, .img4-skill img {
	    height: 60px;
	    padding-bottom: 21px;
	}
	.skills-information {
		display: block;
		margin-bottom: 57px;
	}
    .first-skill, .second-skill, .third-skill {
	    margin-right: 0px;
	    margin-bottom: 55px;
	}
	.skills{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.skills-information-tablet{
		display: none;
	}
	.skills-title{
		margin-bottom: 46px;
	}
	.my-portfolio-title {
	    padding-top: 25px;
	    font-size: 30px;
	    margin-bottom: 50px;
	}
	.portfolio-2,.portfolio-3{
		display: none;
	}
	.portfolio-1{
		padding: 5px;
	}
	.portfolio-1-img{
		padding-bottom: 20px;
	}
	.portfolio-slider{
		margin-bottom: 50px;
	}
	.about-me-title{
		font-size: 28px;
	}
	.about-me-text {
    	font-size: 16px;
	}
	.left-footer{
		margin-right: 0;
		padding-bottom: 40px;
	}
	.footer{
		padding-top: 45px;
		height: 400px;
	}
	.right-footer {
	    float: left;
	    padding-top: 30px;
	}
}
